* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  background: #f4f6f8;
}

/* Layout */
.login-container {
  display: flex;
  height: 100vh;
}

/* Left Image */
.login-left {
  flex: 1;
  background: #f8f9fc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-left img {
  width: 80%;
  max-width: 420px;
}

/* Right Form */
.login-right {
  flex: 1;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
 
}

.login-right h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

/* Input Box */
.input-box {
  position: relative;
  margin-bottom: 25px;
}

.input-box input {
  width: 100%;
  padding: 14px 45px;
  font-size: 16px;
  border-radius: 30px;
  border: 1px solid #ccc;
  outline: none;
 
}

.input-box input:focus {
  border-color: #4a90e2;
}

/* Left icon */
.input-icon {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  color: #4a90e2;
  font-size: 18px;
  
}

/* Eye icon */
.eye-icon {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
  font-size: 18px;
}

/* Button */
.login-btn {
  padding: 14px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(90deg, #4a90e2, #357abd);
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.error-text {
  color: red;
  font-size: 14px;
  margin-top: 8px;
}

/* Responsive */
@media (max-width: 768px) {
  .login-left {
    display: none;
  }
  .login-right {
    padding: 40px;
  }
}
