.visitors-page {
  padding: 20px;
  background: #fff;
}

/* HEADER */
.visitors-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.add-btn {
  background: #1e7f3c;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.right-actions {
  display: flex;
  gap: 10px;
}

.qr-btn {
  background: black;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
}

.right-actions input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* TABLE */
.visitors-table {
  width: 100%;
  border-collapse: collapse;
}

.visitors-table th,
.visitors-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-card {
  background: white;
  width: 360px;
  padding: 25px;
  border-radius: 10px;
  position: relative;
}

.modal-card h3 {
  margin-bottom: 15px;
  text-align: center;
}

.modal-card label {
  font-size: 13px;
  margin-top: 10px;
  display: block;
}

.modal-card input,
.modal-card select {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.submit-btn {
  width: 100%;
  background: #9bb7ff;
  border: none;
  padding: 10px;
  border-radius: 6px;
  margin-top: 20px;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer;
  font-size: 18px;
}

/* QR */
.qr-card {
  text-align: center;
}

.qr-card img {
  margin: 15px 0;
}
.qr-btn {
  background: black;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.qr-icon {
  font-size: 16px;
}

