/* Page Background */
.complaint-page{
  min-height:100vh;
  padding:40px;
  display:flex;
  flex-direction:column;
  gap:30px;
  align-items:center;
  font-family:"Poppins",sans-serif;
  background:linear-gradient(135deg,#4f46e5,#06b6d4,#22c55e);
}

/* Card */
.complaint-card{
  width:100%;
  max-width:750px;
  background:white;
  border-radius:15px;
  padding:30px;
  box-shadow:0 10px 30px rgba(0,0,0,0.15);
}

/* Titles */
.complaint-card h2,
.complaint-card h3{
  text-align:center;
  margin-bottom:25px;
  color:#4f46e5;
}

/* Form */
.complaint-form{
  display:flex;
  flex-direction:column;
  gap:20px;
}

/* Row */
.form-row{
  display:flex;
  gap:20px;
}

/* Input Box */
.input-box{
  display:flex;
  flex-direction:column;
  flex:1;
}

.input-box label{
  font-size:14px;
  font-weight:500;
  margin-bottom:6px;
  color:#333;
}

/* Select + textarea */
.input-box select,
.input-box textarea{
  padding:12px;
  border-radius:8px;
  border:1px solid #ccc;
  font-size:14px;
  transition:0.3s;
}

/* Focus Effect */
.input-box select:focus,
.input-box textarea:focus{
  border-color:#4f46e5;
  outline:none;
  box-shadow:0 0 6px rgba(79,70,229,0.3);
}

/* Full width */
.input-box.full{
  width:100%;
}

.input-box textarea{
  min-height:120px;
  resize:none;
}

/* Note */
.complaint-note{
  display:flex;
  align-items:center;
  gap:10px;
  font-size:13px;
  color:#f97316;
  background:#fff7ed;
  padding:10px;
  border-radius:6px;
}

/* Button */
.submit-btn{
  background:linear-gradient(135deg,#4f46e5,#06b6d4);
  color:white;
  border:none;
  padding:14px;
  border-radius:10px;
  font-size:15px;
  font-weight:600;
  cursor:pointer;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:8px;
  transition:0.3s;
}

.submit-btn:hover{
  transform:translateY(-2px);
  box-shadow:0 8px 20px rgba(0,0,0,0.2);
}

/* Status Card */
.status-card{
  border-left:5px solid #4f46e5;
  padding:15px;
  margin-bottom:15px;
  border-radius:8px;
  background:#f9fafb;
}

.status-card h4{
  margin-bottom:5px;
  color:#111827;
}

.status-card p{
  margin:4px 0;
  font-size:14px;
}

/* Mobile Responsive */
/* ============================= */

@media(max-width:768px){

  .form-row{
    grid-template-columns:1fr;
    gap:20px;
  }

}