.popup-alert {
  position: fixed;
  top: 20px;
  right: 25px;
  background: #1e293b;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  animation: slideIn 0.5s ease;
}

/* Slide Animation */
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
