.payment-container {
  width: 100%;
  padding: 40px;
  font-family: Arial, sans-serif;
  background: #ffffff;
}

.payment-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 40px;
  color: #000;
}

.payment-table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}

.payment-table th {
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
  border-bottom: 2px solid #444;
  text-align: center;
}

.payment-table td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #777;
  font-size: 15px;
}

.download-btn {
  background: #2dbb2d;
  border: none;
  padding: 8px 18px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px;
  color: black;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.download-btn:hover {
  background: #25a525;
}

.download-icon {
  font-size: 14px;
}
