* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.dashboard {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 260px;
  background: #06117a;
  color: #fff;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 25px;
  font-size: 22px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar li:hover,
.sidebar .active {
  background: #5a5d63;
}

/* Main */
.main {
  flex: 1;
  background: #f4f4f4;
}

/* Topbar */
.topbar {
  background: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.top-icons svg {
  margin-left: 15px;
  font-size: 18px;
  cursor: pointer;
}

/* Profile Card */
.profile-card {
  background: #fff;
  margin: 30px;
  padding: 20px;
  border: 1px solid #ccc;
}

.profile-card h3 {
  margin-bottom: 20px;
}

.profile-content {
  display: flex;
  justify-content: space-between;
}

.details {
  width: 70%;
}

.box {
  background: #f7f7f7;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

.row {
  background: #f7f7f7;
  padding: 12px;
  margin-top: 10px;
}

.gender {
  color: #1a73e8;
}

/* Photo */
.photo {
  text-align: center;
}

.photo img {
  width: 100px;
  border: 2px solid #000;
  padding: 10px;
}

.photo p {
  margin-top: 8px;
}
